# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.egg-info/
.eggs/
*.sqlite

# Virtualenv
.venv/

# OS / editor junk
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

# Jupyter & IPython
.ipynb_checkpoints/
*.ipynb_checkpoints

# Reports / temp
*.html
*.log

# Dev
logs/
__old/
testdata/
html_logs/